<% form_for [:admin, @event] do |f| %>
  <%= f.error_messages %>
    <%= f.hidden_field :user_id, :value =>  current_user.id %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
    <%= f.cktext_area :body,:toolbar=>'Easy', :swf_params=>{:assetable_type=>'User', :assetable_id=> current_user.id} %>
  </p>
  <p>
    The event date and time is <%= f.text_field :time %> and the poll <br />will close <%= text_field_tag "event[close_poll]", 2, :size => 2 %> hour(s) before the event starts.
  </p>
  <p>
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </p>
  <p><%= f.submit %></p>
<% end %>
