<% title "Events" %>

<table>
  <tr>
    <th>Creator</th>
    <th>Title</th>
    <th>Body</th>
    <th>Time</th>
    <th>Poll</th>
    <th>Active</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.creator.login %></td>
      <td><%=h event.title %></td>
      <td><%= event.body %></td>
      <td><%=event_date(event.time)%></td>
      <td><%=h event.active %></td>
      <td><%= link_to "Show", [:admin, event] %></td>
      <td><%= link_to "Edit", edit_admin_event_path(event) %></td>
      <td><%= link_to "Destroy", [:admin, event], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_admin_event_path %></p>
