<% title "Event" %>

<p>
  <strong>Creator:</strong>
  <%=h @event.creator.login %>
</p>
<p>
  <strong>Title:</strong>
  <%=h @event.title %>
</p>
<p>
  <strong>Body:</strong>
  <%=@event.body %>
</p>
<p>
  <strong>Date and Time:</strong>
  <%= event_date(@event.time) %>
</p>
<p>
  <strong>Active:</strong>
  <%=h @event.active %>
</p>
<p>
	<strong>Poll:</strong>
	<%= render :partial => 'admin/polls/event_poll', :locals => {:poll => @event.poll} %>
</p>

<p>
  <strong><div id="comments_count"><%= pluralize(@event.comments.size, 'Comment') %></div> and <%= 0 %> Views</strong>
</p>
<%= render :partial => "comments/index", :locals => {:comments => @event.comments} %>
<p>

<p>
  <%= link_to "Edit", edit_admin_event_path(@event) %> |
  <%= link_to "Destroy", [:admin, @event], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_events_path %>
</p>
