<p>
  <strong>Body:</strong>
  <%= poll.body %>
</p>
<p>
    <%= render :partial => 'admin/poll_answers/answers', :collection => poll.poll_answers %>
</p>

<p>
  <strong>Radio:</strong>
  <%= poll.radio %>
</p>
<p>
  <strong>Active:</strong>
  <%= poll.active %>
</p>
<p>
  <strong>Published At:</strong>
  <%= poll.published_at %>
</p>
<p>
  <strong>Closed On:</strong>
  <%= event_date(poll.closed_on) %>
</p>
<p>
  <strong>Editable:</strong>
  <%= poll.editable %>
</p>
<p>
  <strong>Visible:</strong>
  <%= poll.visible %>
</p>
