<% title "Poll Answer" %>

<p>
  <strong>Poll:</strong>
  <%=h @poll_answer.poll_id %>
</p>
<p>
  <strong>Body:</strong>
  <%=h @poll_answer.body %>
</p>
<p>
  <strong>Response Count:</strong>
  <%=h @poll_answer.response_count %>
</p>

<p>
  <%= link_to "Edit", edit_poll_answer_path(@poll_answer) %> |
  <%= link_to "Destroy", @poll_answer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", poll_answers_path %>
</p>
