<p>
  <strong>Body:</strong>
  <%= poll.body %>
</p>
<p>
    <%= render :partial => 'poll_answers/answers', :collection => poll.poll_answers %>
</p>

<p>
  <strong>Radio:(out)</strong>
  <%= poll.radio %>
</p>
<p>
  <strong>Active:(out)</strong>
  <%= poll.active %>
</p>
<p>
  <strong>Published At:(out)</strong>
  <%= poll.published_at %>
</p>
<p>
  <strong>Closed On:</strong>
  <%= event_date(poll.closed_on) %>
</p>
<p>
  <strong>Visible:(out)</strong>
  <%= poll.visible %>
</p>
